@import "../../utils/fonts";
@import "../../utils/measures";
@import "../../utils/mixins";

.featured {
	width: 100%;
	padding: 2rem 2rem 2rem 0;

	&__container {
		@include flex-between;
	}

	&__card {
		flex: 1;
		padding: 2rem;
		margin: 0 1.5rem;
		border-radius: $border-radius-card;
	}

	&__title {
		font-weight: 400;
		font-size: 1.35rem;
		padding-bottom: 0.5rem;
	}

	&__stats {
		@include flex-between;
	}

	&__percentage-value {
		padding-right: 1rem;
	}

	&__percentage {
		@include flex-between;
	}

	&__indicator {
		font-size: $icon-font-size;
	}
}
