@import "../../utils/colors";
@import "../../utils/fonts";
@import "../../utils/mixins";

nav {
	height: 8vh;
	width: 100%;
	position: sticky;
	top: 0;
	background-color: $white-color;
	z-index: 10;
}

.nav-container {
	height: 100%;
	@include flex-between;
	padding: 0 2rem;

	&__right {
		@include flex-between;
		font-size: $icon-font-size;
	}

	&__logo {
		font-size: $title-font-size;
	}

	&__icon-container {
		@include flex-center;
		padding-left: 0.5rem;
		margin-left: 1rem;
		cursor: pointer;
		color: $dark-font-color;
	}

	&__avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-left: 1.5rem;
		cursor: pointer;
	}
}
